@import "tailwindcss";

@theme {
  /* Define the animations */
  --animate-glitch-1: glitch-1 0.3s cubic-bezier(.25,.46,.45,.94) infinite;
  --animate-glitch-2: glitch-2 0.3s cubic-bezier(.25,.46,.45,.94) reverse infinite;

  /* Define the keyframes */
  @keyframes glitch-1 {
    0%, 100% { transform: translate(0); }
    20% { transform: translate(-3px, 3px); }
    40% { transform: translate(-3px, -3px); }
    60% { transform: translate(3px, 3px); }
    80% { transform: translate(3px, -3px); }
  }

  @keyframes glitch-2 {
    0%, 100% { transform: translate(0); }
    20% { transform: translate(3px, -3px); }
    40% { transform: translate(3px, 3px); }
    60% { transform: translate(-3px, -3px); }
    80% { transform: translate(-3px, 3px); }
  }
}